body {
    font-family: "Lora", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    max-width: auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.title {
    margin: 20px;
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: 800;
}

.texto {
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
    font-size: 16px;
    line-height: 2;
}
.programar {
    float: left;
    /* Alinear a la derecha */
    margin: 20px;
    /* Margen para separar del texto */
    margin-top: 10px;
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra */
    width: auto;
    height: 200px;
}

footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    line-height: 2;
}
.teba {
    position: relative;
    float: inline-end;
    margin-top: -90px;
    border-radius: 20px;
    border-color: black;
    border-width: 03px;
    border-style: solid;
    width: 100px;
}